@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
*{
   margin: 0;
   padding:0;
   box-sizing: border-box;
}

:root {
   --cor-padrao: #b464ec;
   --cor-estrelas: #7B2CBF;
   --cor-padrao-hover: #f3b2e5;
   --cor-fonte: #000000;
   --cor-font-p: #555;
   --cor-btn: #6937df81;
   --cor-btn-hover: #7bfdffe8;
   --cor-btn-fonte:#000000f7;
   --cor-fonte-corpo:#555;
   --cor-fonte-corpo-leve: #777;
}

body {
    font-family:'Inconsolata',sans-serif ;
}

.linha .col-2 p {
    font-family: 'Times New Roman', sans-serif;
}
nav ul li a{
    font-family: 'Times New Roman', sans-serif;
}

.linha .col-2 a{
    font-family: 'Times New Roman', sans-serif
}
.banner {
    background:  radial-gradient(var( --cor-padrao-hover),var(--cor-padrao));
    margin-bottom: 20px;
    padding-bottom: 35px;
}

.banner .linha {
   margin-top: -20px;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li{
  display: inline-block;
  margin-right: 30px ;
  margin-top: 35px;

}

.navbar nav ul li a {
    color: var(--cor-fonte);
    text-decoration: none;
}

.bag-handle-outline {
    width: 1000px;
    height: 20px;
    color: #000000;
}

#MenuItens li a {
    text-decoration: none !important; 
}

.logo img {
    border-radius: 60%;
    width: 90px ;
    height: 90px;

}


.col-5{
    width: 160px;
}

.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0);
}


.rodape {
    background: var(--cor-btn-fonte);
    color: white;
    padding: 80px 0 20px;
    font-size: 14px;
    width: 100%;
    margin: 0 auto; /* Garante margens automáticas para centralização */
}


.rodape p{
    color: white;
}

.rodape h3 {
    color: white;
    margin-bottom: 20px;
}

.rodape ul li {
    font-family: 'Times New Roman', sans-serif;
}

.rodape-col-1, .rodape-col-2, .rodape-col-3, .rodape-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.rodape-col-1 {
    flex-basis: 30%;

}

.rodape-col-2 {
    flex: 1;
    text-align: center;
}

.rodape-col-2 img {
    width: 110px;
    height: 110px;
    margin-bottom: -20px;
    border-radius: 60%;

}

.rodape-col-3, .rodape-col-4 {
    flex-basis: 12%;
    text-align: right;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;

}

.app-logo img {
    width: 140px;
}

.rodape hr {
    border: none;
    height: 1px;
    background: #fff;
    margin: 20px 0;
}

.direitos {
    text-align: center;
    font-family: 'Times New Roman', sans-serif;
}

/*PAGINA PRODUTOS */

.navbar2 {
    display: flex;
    align-items: center;
    padding: 100px;
    margin-top:  -90px;
    margin-bottom: -85px;
 
}


.novoMenu ul li a {
    color: var(--cor-fonte);
}

.titulo-blusas{
    color: var(--cor-estrelas);
    font-size: 40px;
}

.titulo-todos{
    color: var(--cor-estrelas);
    font-size: 40px;
}

.titulo-bolsas{
    color: var(--cor-estrelas);
    font-size: 40px;
}

.titulo-colar{
    color: var(--cor-estrelas);
    font-size: 40px;
}

.linha2 {
    margin: 10px auto 10px;
    justify-content: space-between;
}

.linha2 select {
    padding: 5px;
    border: 1px solid var(--cor-padrao);
}

.paginacao {
    margin: 0 auto 80px;
    margin-left: 20px;
}

.paginacao span {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid var(--cor-padrao);
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
    cursor: pointer;
}

.paginacao span:hover {
    background: var(--cor-padrao);
}

/*Carrinho de compras */
.carrinho-compras {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.info-carrinho {
    display: flex;
    flex-wrap: wrap;
}

th{
    background-color: var(--cor-padrao);
    color: var(--cor-fonte);
    text-align: left;
    font-weight: normal;
    padding: 5px;
}

td{
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: var(--cor-padrao);
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.valor-total {
    display: flex;
    justify-content: flex-end;
}

.valor-total table {
    border-top: 3px solid var(--cor-padrao);
    width: 100%;
    max-width: 420px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

 /*MINHA CONTA */

 .ola{
    height: 350px;

}

.tudao{
    padding-bottom: 100px;
    background: linear-gradient(var(--cor-padrao), var(--cor-padrao-hover));
}


.linha-branca {
    border-top: 2px solid white; /* Define a cor da linha como branca */
}


.coluna-esquerda-image {
    max-height: 200vw;
}


.formulario {
    position: relative;
    padding: 20px 0;
    text-align: center;
    width: 300px;
    height: 400px;
    margin: auto;
    background-color: #fff;
    box-shadow: 30px 0 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden; /*esconde item para transição js entre entrar e cadastro*/
    border-radius: 5%;
}

.formulario span {
    display: inline-block;
    width: 100px;
    padding: 0 10px;
    font-weight: bold;
    color: var(--cor-fonte);
    cursor: pointer;
}

.btn-form {
    display: inline-block

}

.formulario form {
    position: absolute;
    top: 110px;
    max-width: 300px;
    padding: 0 20px;
    transition: transform 1s;
}

.formulario form input {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid var(--cor-padrao);
    border-radius: 3px;
}

.formulario form input:focus {
    outline: none;
}

.formulario form .btn{
    width: 100%;
    margin: 10px 0;
    padding: 8px 30px;
    border: none;
    border-radius: 10px;
    background-color: var(--cor-padrao);
    cursor: pointer;
}

.formulario form .btn:hover {
    background-color: var(--cor-btn-hover);
}

.formulario form a{
    font-size: 12px;
    text-decoration: none;
    color: var(--cor-fonte-corpo);
    cursor: pointer;
}

#EntrarPainel {
    left: -300px; /* posicionamento inicial transição painel cadastro*/
}

#CadastroSite {
    left: 0;
}

#Indicador {
    width: 100px;
    height: 3px;
    border: none;
    background-color: var(--cor-padrao);
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}


/* REPONSIVIDADE - JS - INCLUIR CHAMADA DA FUNÇÃO NO INDEX ABAIXO DA IMAGEM DO CARRINHO*/

.menu-celular {
    width: 20px;
    margin-left: 20px;
    display: none;
}

@media only screen and (max-width: 800px) {
    nav ul{
        position: absolute;
        top: 92px;
        left: 0;
        background: var(--cor-padrao);
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    .linha .col-2 h1 {
        margin-top: 200px;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-right: 50px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: var(--cor-fonte);
    }
    
    .menu-celular {
        display: block;
        cursor: pointer;
    }
    
}

@media only screen and (max-width: 600px) {

    
    .linha {
        text-align: center;
    }

    .linha .col-2 h1 {
        margin-top: 200px;
    }

    col-2, col-3, col-4 {
        flex-basis: 100%;
    }

    .col-2 h1 {
        font-size: 27px;
    }

    .rodape-col-3, .rodape-col-4 {
        text-align: center;
    }

    .col-4 p {
        font-size: 24px;
    }

    .ver-produto .col-2 {
        margin: 20px 0;
    }

    .ver-produto .linha {
        text-align: left;
    }

    .ver-produto h1 {
        font-size: 26px;
        line-height: 26px;
    }

    .info-carrinho p{
        display: none;
    }
}

/* PRODUTOS */
.carrinho {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.carrinho h2 {
    margin-top: 0;
}

#itens-carrinho {
    list-style-type: none;
    padding: 0;
}

#itens-carrinho li {
    margin-bottom: 10px;
}

.total {
    margin-top: 20px;
    text-align: right;
}

.total h3 {
    margin-bottom: 10px;
}

#finalizar-compra {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#finalizar-compra:hover {
    background-color: #45a049;
}

/* button do pagina produtos */
button {
    background-color: #b836f4;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #7bfdffe8  !important;
    color: var(--cor-fonte);
}
/*fim do button */

/* VER PRODUTOS */

.cart-items {
    margin: 20px;
}

.cart-items h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.cart-items table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.cart-items th, .cart-items td {
    border: 1px solid #e0e0e0;
    padding: 12px;
    text-align: left;
}

.cart-items th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.cart-items img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.cart-items .total-price {
    margin-top: 30px;
    font-size: 22px;
}

.cart-items .checkout-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
}

.cart-items .checkout-button:hover {
    background-color: #222;
}
/* Add these styles to your existing CSS */

/* começou do ver produtos */
.descricao{
    color: var(--cor-estrelas);
    font-size: 25px;
}

.tamanhos {
    color: var(--cor-estrelas);
}

.option-selection {
    margin-bottom: 20px;
}

.option-selection h4 {
    margin-bottom: 10px;
}

.color-options, .size-options {
    display: flex;
    gap: 10px;
}

.color-option, .size-option {
    cursor: pointer;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-option.selected, .size-option.selected {
    border-color: black;
}

.color-option img {
    max-width: 100%;
    border-radius: 50%;
}

.size-option {
    border-radius: 10%;
}
.produto {
    display: inline-block;
    margin: 10px;
    text-align: center;
}
.produto img {
    width: 300px;
    height: auto;
}
.produto .preco {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
.produto .botao {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff4500;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
/* fim do ver_produtos */

/* DETALHES PRODUTO */
.ver-produto {
    margin-top: 40px;
}

.ver-produto .col-2 {
    width: 100%;
    padding: 0;
}

.ver-produto #produtoImg {
    width: 600px;
    height: 450px;
    object-fit: cover;
    object-position: center;
}

.ver-produto .col-2 {
    padding: 20px;
}

.ver-produto h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.ver-produto select {
    display: block;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid var(--cor-padrao)
}

.ver-produto input {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    padding-left: 10px;
    border: 1px solid var(--cor-padrao);
}

.ver-produto .btn {
    border: none;
    background-color: var(--cor-padrao);
    height: 42px;
    border-radius: 4px;
    cursor: pointer;
}

.ver-produto .btn:hover {
    background-color: var(--cor-btn);
}

.ver-produto p {
    font-size: 13px;
}
